:root{
    --couleurbg: #27242b;
    --bs-white: #fff;
    --bs-gray: #9fa5aa;
}


header{
    background-color: var(--couleurbg);
}

body{
    background-color: var(--couleurbg);
}
#social-media{
    background-color: var(--bs-gray)
}
#checknew{
    background-color: var(--bs-white);
}


